body {
    font-family: Lato, Arial, Helvetica, sans-serif;
}

.grid {
    width: 960px;
    margin: 0 auto;
}

a { 
    color: #b72124;
    text-decoration: none;
}

a:hover { color: #db3b3e; }

p {
    font-size: 14px;
    line-height: 20px;
    color: #373737;
    margin-bottom: 20px;
}


h2 {
    font-family: lato,sans-serif;
    font-size: 1.6em;
    margin-bottom: 0.5em;
}
/* HEADER */
#top {
    padding: 20px 0;
    border-top: 4px solid #b72124;
}


/* CONTENT */
.posts-bg {
    overflow: hidden;
    height: 330px;
    width: 100%;
    position: relative;

    .img-01 {
        position: relative;
        background: image-url('test.jpg') 50% center no-repeat fixed;
        background-size: cover;
        z-index: 3;
        height: 340px;
        width: 100%;
        -webkit-filter: blur(3px); 
        -moz-filter: blur(3px); 
        -o-filter: blur(3px); 
        -ms-filter: blur(3px); 
        // filter: image-url('blur.svg#blur');
        filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
        margin-top: -5px;
        transition: all 0.5s
    }

    .img-02 {
        background: rgba(218, 43, 39, 0.3);
        height: 330px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
    }
}


#content {// margin-bottom: 50px;
 }

#posts {
    .wrap { background: #f6f6f6; }

    article {
        .grid {
            padding: 60px 40px 25px;
            width: 880px;
        }

        .post-title {
            font-size: 30px;
            margin-bottom: 30px;
            font-weight: bold;
            color: #b72124;
        }

        p {
            font-size: 18px;
            line-height: 28px;
        }

        time {
            color: #a2a2a2;
            font-size: 12px;
            text-align: center;
            width: 80%;
            padding-top: 20px;
            display: block;
            border-top: 1px dashed #e8e8e8;
            margin: 0 auto;
        }
    } 

    /* ESTILO PARA PRIMEIRO POST */
    .wrap article:first-child,
    &.single article {
        margin-top: -170px;
        position: relative;
        z-index: 10;
        background: none !important;

        .grid {
            background: #fff;
            padding: 40px 40px 25px;
            -webkit-box-shadow: 0px 3px 2px rgba(50, 50, 50, 0.25);
            -moz-box-shadow:    0px 3px 2px rgba(50, 50, 50, 0.25);
            box-shadow:         0px 3px 2px rgba(50, 50, 50, 0.25);
        }
    }

    &.streaming img,
    &.streaming h3 { display: none; }

    &.single p {
        font-size: 14px;
        line-height: 22px;
    }

    #pagination {
        padding: 20px 0;
        overflow: hidden;
        
        .grid {
            position: relative;
            text-align: center;
        }

        a {
            color: #777;
            font-size: 12px;

            &:hover { text-decoration: underline; }
        }

        .prev {
            position: absolute;
            left: 0;
            top: 0;   
        }

        .archives {}

        .next {
            position: absolute;
            right: 0;
            top: 0;
        }
    }
}

.text {
    ul {
        margin-bottom: 20px;
        list-style: inside;

        li {
            margin-bottom: 5px;
            font-size: 14px;
            line-height: 22px;
        }
    }

    h2 {
        font-size: 26px;
        padding: 10px 0 10px;
        color: #b72124;
    }

    h3 {
        font-size: 22px;
        padding: 10px 0 10px;
        color: #b72124;
    }

    a:hover { text-decoration: underline; }

    img {
        max-width: 60%;
        margin: 0 auto;
        display: block;
        height: auto;
    }
}


/* SINGLE POST */
.posted-by {
    line-height: 1.5em;
}

.meta{
  float:left;
  margin-top:2em;
  width:100%;
  box-sizing: border-box;
}

.half{
  width:50%;
  float:left;
  margin-top:1em;
}

.author-pic{
  border-radius:250px;
  height:50px;
  float:left;
  margin-right:20px;
}

.author-info{
  float:left;
  
  .author-name{
    font-weight:bold;
  }
}

.sharing {
    float: left;
    padding: 0.5em;
    width: 48%;
}

.left{
  float:left;
}
.right{
  float:right;
}



.cover-mailing-page { 
    background: image-url('mailing-cover-bg.jpg');
    border-radius: 5px 5px 5px 5px;
    float: left;
    margin-bottom: 2em;
    margin-top: 20px;
    padding: 2em;
    width: 93%;
    a {
    float: left;
    margin-right: 1em;
    margin-top: 0.5em;
    }
    input[type="email"] {
        border: 1px solid #EBEBEB;
        border-radius: 5px 5px 5px 5px;
        padding: 1em;
        vertical-align: middle;
        width: 70%;
    }
    
    input[type="submit"] {
        background: none repeat scroll 0 0 #B80606;
        border: medium none;
        border-radius: 5px 5px 5px 5px;
        color: #FFFFFF;
        font-size: 10px;
        padding: 1em;
        text-transform: uppercase;
        width: 10%;
    }

}
/* FOOTER */

#social-footer{
  float:left;
  width:100%;
  height:70px;
  background: image-url('footer.jpg');
  border-bottom: 1px solid white;
    .github {
      background:image-url('social_01.png') no-repeat;
      display: block;
      float: left;
      height: 40px;
      margin-top: 12px;
      overflow: hidden;
      text-indent: 200px;
      width: 50px;
      }
    
    .twitter {
      background:image-url('social_02.png') no-repeat;
      display: block;
      float: left;
      height: 40px;
      margin-top: 12px;
      overflow: hidden;
      text-indent: 200px;
      width: 50px;
      margin-right:9px;
      }
      
      .facebook {
        background:image-url('social_03.png') no-repeat;
        display: block;
        float: left;
        height: 40px;
        margin-top: 12px;
        overflow: hidden;
        text-indent: 200px;
        width: 50px;
        }
        
      .rss {
        background:image-url('social_04.png') no-repeat;
        display: block;
        float: left;
        height: 40px;
        margin-top: 12px;
        overflow: hidden;
        text-indent: 200px;
        width: 50px;
        }
  
  }

.collumn {
    color: #F98576;
    font-weight: 100;
    padding: 1em;
    text-align: left;
    width: 30%;
    float:left;
    
    h3{
      color: #FFFFFF;
      font-weight: 300;
      margin-bottom: 0.5em;
      text-shadow: 1px 1px 2px black;
      }
    
    ul li{
      list-style: image-url('arrow.jpg') disc inside;
      line-height:2.1;
      font-size: 0.8em;
      span {
        border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
        color: white;
        float: left;
        margin-bottom: 0.1em;
        margin-top: 0;
        padding-bottom: 0.1em;
        padding-left: 26px;
        width: 89%;
      }
      span:last-child {
        border-bottom:none;      
    }
  }
}

#bottom { 
    clear: both; 
    background-color: #ca0003;
    border-top: 1px solid #f8f8f8;
    border-bottom: 4px solid #b72124; 
    text-align: center;
    float:left;
    width:100%;

    p {
        border-top: 1px solid #A81400;
        color: #F98576;
        float: left;
        font-size: 12px;
        margin-bottom: 0;
        padding-top: 1em;
        width: 100%;
        a { color: #fff; }
    }
    
    
}
