body {
    font-family: Lato, Arial, Helvetica, sans-serif;
}

.grid {
    width: 960px;
    margin: 0 auto;
}

a {
    color: #b72124;
    text-decoration: none;

    &:hover{
      color: lighten(#b72124, 20%);
    }
}

p {
  color: #373737;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px;
}


h2 {
    font-family: lato,sans-serif;
    font-size: 1.6em;
    margin-bottom: 0.5em;
}

/* HEADER */
#top {
    border-top: 4px solid #b72124;
    padding: 20px 0;
}


/* CONTENT */
.posts-bg {
  height: 330px;
  overflow: hidden;
  position: relative;
  width: 100%;

    .img-01 {
      background: image-url('header-bck.jpg') 50% center no-repeat fixed;
      background-size: cover;
      height: 340px;
      margin-top: -5px;
      position: relative;
      width: 100%;
      z-index: 3;
    }

    .img-02 {
      background: rgba(#da2b27, 0.3);
      height: 330px;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 5;
    }

}


#content {// margin-bottom: 50px;
 }

#posts {
    .wrap { background: #f6f6f6; }

    article {
        header {
            font-size: 12px;
            margin-bottom: 10px;
        }
        .grid {
            padding: 60px 40px 25px;
            width: 880px;
        }

        .post-title {
            color: #b72124;
            font-size: 30px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        p {
            font-size: 18px;
            line-height: 28px;
        }

        time {
            border-top: 1px dashed #e8e8e8;
            color: #a2a2a2;
            display: block;
            font-size: 12px;
            margin: 0 auto;
            padding-top: 20px;
            text-align: center;
            width: 80%;
        }
    }

    /* ESTILO PARA PRIMEIRO POST */
    .wrap article:first-child,
    &.single article {
        background: none !important;
        margin-top: -170px;
        position: relative;
        z-index: 10;

        .grid {
            background: #fff;
            padding: 40px 40px 25px;

            -webkit-box-shadow: 0px 3px 2px rgba(#323232, 0.25);
            -moz-box-shadow:    0px 3px 2px rgba(#323232, 0.25);
            box-shadow:         0px 3px 2px rgba(#323232, 0.25);
        }
    }

    &.streaming img,
    &.streaming h3 { display: none; }

    &.single .posts-bg {
        height: 200px;
    }

    #pagination {
        padding: 20px 0;
        overflow: hidden;

        .grid {
            position: relative;
            text-align: center;
        }

        a {
            color: #777;
            font-size: 12px;

            &:hover { text-decoration: underline; }
        }

        .prev {
            position: absolute;
            left: 0;
            top: 0;
        }

        .next {
            position: absolute;
            right: 0;
            top: 0;
        }
    }
}

#single-article {
    header {
        background: #fff;
        margin: 0 auto 20px auto;
        padding: 40px 40px 25px;
        width: 880px;

        -webkit-box-shadow: 0px 3px 2px rgba(#323232, 0.25);
        -moz-box-shadow: 0px 3px 2px rgba(#323232, 0.25);
        box-shadow: 0px 3px 2px rgba(#323232, 0.25);

        .author-info {
            display: inline-block;
            margin-bottom: 20px;
        }

        time {
            border: 0;
            display: inline-block;
            padding-top: 0;
            width: auto;
        }

        .post-title {
            font-size: 40px;
        }
    }

    article {
        p {
            font-size: 18px;
            line-height: 25px;
        }
    }
}

.cover-mailing-page{
  background: image-url("mailing-cover-bg.jpg") repeat-x left top;
}

#cover {
  border-radius: 5px;
  margin: 0 auto 20px;
  overflow: hidden;
  width: 960px;
}

.mailing-form {
  background-image: image-url("mailing-mauro.png");
  background-position: 40px 40px;
  background-repeat: no-repeat;
  height: 175px;
  padding-left: 270px;
  padding-top: 100px;
}

.mailing-form h2 {
  color: #b80606;
  font-size: 40px;
  font-weight: bold;
  line-height: 30px;
  margin-bottom: 15px;
  margin-top: -40px;
  text-transform: none;
  width: 100%;
}

.cover-mailing-page input[type="text"],
.cover-mailing-page input[type="email"] {
  background: none repeat scroll 0 0 white;
  border: 1px solid #c7c7c7;
  border-radius: 6px 6px 6px 6px;
  float: left;
  font-size: 14px;
  margin: 0;
  padding: 0.7em;
  width: 50%;
}

.mailing-form p{
  margin-top:15px;

  a {
  font-size:11px;
  color:#666;
  }
}

.cover-mailing-page input[type="submit"] {
  background-color: #b80606;
  border: 0 none;
  border-radius: 6px;
  color: #fff;
  display: block;
  float: left;
  font-size: 12px;
  font-weight: 700;
  height: 38px;
  line-height: normal;
  margin: 0 0 0 5px;
  padding: 0 8px;
  text-transform: uppercase;
}

.cover-mailing-page div.containner input[type="submit"]:hover{
  opacity:0.9;
}


.form-foot {
  color: #000;
}

.wufoo .info h2 {
  font-size: 20px;
  color: #000 !important;
  margin: 0 0 20px;
}

.wufoo li label.desc {
  color: #000 !important;
}

#disqus_thread {
  width: 880px;
  margin: 0 auto 40px;
}

.text {
    ul {
      margin-bottom: 20px;
      list-style: inside;

      li {
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 5px;
      }
    }

    h2 {
      font-size: 26px;
      padding: 10px 0 10px;
      color: #b72124;
    }

    h3 {
      font-size: 22px;
      padding: 10px 0 10px;
      color: #b72124;
    }

    a:hover { text-decoration: underline; }

    img {
      max-width: 60%;
      margin: 0 auto;
      display: block;
      height: auto;
    }
}


/* SINGLE POST */
.posted-by {
  line-height: 1.5em;
}

.meta{
  box-sizing: border-box;
  margin-top:2em;
  overflow: hidden;
  width:100%;
}

.half{
  float:left;
  margin-top:1em;
  width:50%;
}

.author-pic{
  border-radius:250px;
  float:left;
  height:50px;
  margin-right:20px;
}

.author-info{

  .author-name{
    font-weight:bold;
  }
}

.sharing {
  float: left;
  padding: 0.5em;
  width: 48%;
}

.left{
  float:left;
}
.right{
  float:right;
}


/* FOOTER */

#social-footer{
  background: image-url('footer.jpg');
  border-bottom: 1px solid white;
  float:left;
  height:70px;
  width:100%;

  .github {
    background:image-url('social_01.png') no-repeat;
    display: block;
    float: left;
    height: 40px;
    margin-top: 12px;
    overflow: hidden;
    text-indent: 200px;
    width: 50px;
  }

  .twitter {
    background:image-url('social_02.png') no-repeat;
    display: block;
    float: left;
    height: 40px;
    margin-top: 12px;
    overflow: hidden;
    text-indent: 200px;
    width: 50px;
    margin-right:9px;
  }

  .facebook {
    background:image-url('social_03.png') no-repeat;
    display: block;
    float: left;
    height: 40px;
    margin-top: 12px;
    overflow: hidden;
    text-indent: 200px;
    width: 50px;
  }

  .rss {
    background:image-url('social_04.png') no-repeat;
    display: block;
    float: left;
    height: 40px;
    margin-top: 12px;
    overflow: hidden;
    text-indent: 200px;
    width: 50px;
  }

}

.collumn {
  color: #f98576;
  float:left;
  font-weight: 100;
  padding: 1em;
  text-align: left;
  width: 30%;

  h3{
    color: #fff;
    font-weight: 300;
    margin-bottom: 0.5em;
    text-shadow: 1px 1px 2px black;
  }

  ul li{
    font-size: 0.8em;
    line-height:2.1;
    list-style: image-url('arrow.jpg') disc inside;
    span {
      border-bottom: 1px dashed rgba(#000, 0.2);
      color: white;
      float: left;
      margin-bottom: 0.1em;
      margin-top: 0;
      padding-bottom: 0.1em;
      padding-left: 26px;
      width: 89%;

      &:last-child {
        border-bottom:none;
      }
    }
  }

}

#bottom {
  background-color: #ca0003;
  border-bottom: 4px solid #b72124;
  border-top: 1px solid #f8f8f8;
  clear: both;
  float:left;
  text-align: center;
  width:100%;

  p {
    border-top: 1px solid #a81400;
    color: #f98576;
    float: left;
    font-size: 12px;
    margin-bottom: 0;
    padding-top: 1em;

    a {
      color: #fff;
    }
  }

}
