$HEred: #B72124;

.container {
  width: 960px;
  margin: 0 auto;
  position: relative;
}

body {
  font-family: lato,Helvetica, Arial,sans-serif;
}

a {
  color: $HEred;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
