/*
Max Width, 960px
Media Queries for Tablets
*/

@media (max-width:960px) {
  .container {
    width: 700px;
    padding:0;
  }
}


/*
Max Width, 686px
Media Queries for Smartphones
*/

@media only screen and (max-width: 686px) {
  
  .container {
    width: 90%;
    padding:0 5% 0 5%;
  }

  #main-header {
    border-bottom: 1px #ccc solid;

    #google-search {
      display: none;
    }

    .header-title {
      a img {
        width: 130px;
        margin-left:0 !important;
      }
    }
  }

  #static-background, #static-background.static-background-small {
    padding: 0;
    height: auto;

    #static-image {
      display: none;
    }
  }

  .full-post-header {
    padding: 40px 25px 0 25px;

    .post-title {
      margin-bottom: 0;
    }
  }

  .post:first-child {
    margin-top: 0;
    z-index: 10;
    background: none;
  }

}