/*
Max Width, 960px
Media Queries for Tablets
*/

@media (max-width:960px) {
  .container {
    width: 700px !important;
  }
}


/*
Max Width, 686px
Media Queries for Smartphones
*/

@media only screen and (max-width: 686px) {
  
  .container {
    width: 90% !important;
    padding-right: 5% !important;
    padding-left: 5% !important;
  }

  #main-header {
    border-bottom: 1px solid #ccc;

    #google-search {
      display: none;
    }

    .header-title {
      a {
        width: 130px;
      }
    }
  }

  #static-background, #static-background.static-background-small {
    padding: 0;
    height: auto;

    #static-image {
      display: none;
    }
  }

  .post:first-child {
    margin-top: 0;
    z-index: 10;
    background: none;
  }

}