<footer id="footer">

  <div id="footer-social-links">
    <div class="container">
      <a href="http://github.com/Helabs" class="github" title="github" target="_blank">Github</a>
      <a href="http://twitter.com/helabs" class="twitter" title="twitter" target="_blank">Twitter</a>
      <a href="http://facebook.com/helabs" class="facebook" title="facebook" target="_blank">Facebook</a>
      <a href="#" class="rss" title="rss" target="_blank">RSS</a>

      <div class="copyright">
        Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }}
      </div>
    </div>
  </div>
</footer>

<!-- JS -->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script type="text/javascript" src="javascripts/main.js"></script>

{% include footer_scripts/disqus.html %}
{% include footer_scripts/facebook_like.html %}
{% include footer_scripts/google_plus_one.html %}
{% include footer_scripts/twitter_sharing.html %}
{% include footer_scripts/google_search.html %}
