{% for post in paginator.posts %}

  <article class="post">
    <div class="container">
      <header class="post-header">
        {% if post.author %}
          {% assign author = post.author %}
        {% elsif page.author %}
          {% assign author = page.author %}
        {% else %}
          {% assign author = site.author %}
        {% endif %}
        {% if author %}
          <div class="author-info">
            Postado por <span class="author-name">{{ author }}</span>
          </div>
        {% endif %}

        <h2 class="post-title">
          <a href="{{ root_url }}{{ post.url }}" title="{{post.title}}">
            {% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}
          </a>
        </h2>
      </header>

      <div class="post-excerpt">{{ post.excerpt }}</div>

      {% unless page.meta == false %}
        {% include post/date.html %}{{ time }}
      {% endunless %}
    </div>
  </article>

{% endfor %}
