<footer id="bottom">
  
  <div id="social-footer">
    <div class="grid">
    <a ref="#" class="github">Github</a>
    <a ref="#" class="twitter">Twitter</a>
    <a ref="#" class="facebook">Facebook</a>
    <a ref="#" class="rss">RSS</a>
    </div>
 </div>
 
	<div class="grid">
		<p>
		  Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }} -
		  <span class="credit">Powered by <a href="http://octopress.org">Octopress</a></span>
		</p>
	</div>
</footer>

{% include footer_scripts/disqus.html %}
{% include footer_scripts/facebook_like.html %}
{% include footer_scripts/google_plus_one.html %}
{% include footer_scripts/twitter_sharing.html %}
{% include footer_scripts/others.html %}