<footer id="bottom">
  
  <div id="social-footer">
    <div class="grid">
    <a ref="#" class="github">Github</a>
    <a ref="#" class="twitter">Twitter</a>
    <a ref="#" class="facebook">Facebook</a>
    <a ref="#" class="rss">RSS</a>
    </div>
 </div>
 
	<div class="grid">
    <div class="collumn">
      <h3>Últimos Posts</h3>
      <ul>
        <li>Melhorando o Email Activity do SendGrid</li>
        <li>Um pouco sobre Lean UX</li>
        <li>Como colaborar com projetos open-source</li>
        <li>Retrospectiva Café com DEV HE:Rio 12/07 </li>
      </ul>
      
    </div>
    
  	<div class="grid">
      <div class="collumn">
        <h3>GitHub Repos</h3>
        <ul>
          <li>startupdev.github.com <span>Startup DEV Website</span></li>
          <li>pah<span>Command line interface to generate rails apps used at HE:labs.</span> </li>
          <li>acts_as_hashed<span>acts_as_hashed makes it easier to create unique non-discoverable URIs and all other sorts of uuid you may need in your app.</span> </li>
        </ul>
      
      </div>
      
    	<div class="grid">
        <div class="collumn">
          <h3>Últimos Tweets</h3>
          <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eget.  adipiscing elit. </li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eget. </li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eget.  </li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eget. Lorem ipsum dolor sit amet </li>
          </ul>
      
        </div>
    
		<p>
		  Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }} -
		  <span class="credit">Powered by <a href="http://octopress.org">Octopress</a></span>
		</p>
	</div>
</footer>

{% include footer_scripts/disqus.html %}
{% include footer_scripts/facebook_like.html %}
{% include footer_scripts/google_plus_one.html %}
{% include footer_scripts/twitter_sharing.html %}
{% include footer_scripts/others.html %}