#page-header {
  border-top: 4px solid #B72124;
  @extend .container;
  @extend .post-header;
  padding: 40px 25px 25px;
  background: #fff;
  z-index: 30;

  .page-title {
    font-size: 40px;
    margin-bottom: 10px;
    display: block;
    font-weight: bold;
    color: #B72124;
    text-decoration: none;
  }
}

#archive-list {
  padding: 30px 0;
  background: #f6f6f6;
}

.archive-post {
  background: #fff;
  padding: 10px 0;
  overflow: hidden;
  margin-bottom: 10px;

  .post-date {
    float: left;
    font-size: 15px;
    color: #777;
    margin-left: 10px;
  }

  .post-title {
    float: left;
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
  }

  .author-info {
    float: right;
    font-size: 13px;
    color: #555;
    margin-right: 10px;
  }
}
