#footer {
  border-top: 1px solid #F8F8F8;
  clear: both;
  text-align: center;
  width: 100%;
  height: 70px;
  background: url('../images/footer.jpg');
  overflow: hidden;

  .column {
    color: #F98576;
    float: left;
    font-weight: 100;
    margin-top: 20px;
    padding: 1em;
    text-align: left;
    width: 30%;
  }

  .container {
    overflow: hidden;

    h3 {
      color: #FFF;
      font-weight: 300;
      margin-bottom: 0.5em;
      text-shadow: 1px 1px 2px #000;
    }

    li {
      font-size: 0.8em;
      line-height: 2.1;
      list-style: url('../images/arrow.jpg') disc inside;
    }

    a {
      color: #fff;
    }
}



#footer-social-links {
  float: left;

    a{
      float: left;
      font-size: 25px;
      font-weight: normal;
      margin-left: 10px;
      margin-top: 20px;

      @media only screen and (max-width: 686px) {
        font-size: 20px;
      }
    }
}

.copyright {
  color: #fff;
  // width: 200px;
  float: right;
  font-size: 11px;
  margin-top: 10px;

    a{
      margin: 10px 0 0 0;
      float: left;

      @media only screen and (max-width: 686px) {
        img{
          display: none;
        }
      }
    }

    p{
      margin: 15px 0 0 15px;
      padding: 0;
      float: right;
    }

  }
}

