#footer {
  border-top: 1px solid #F8F8F8;
  clear: both;
  text-align: center;
  width: 100%;

  .column {
    color: #F98576;
    float: left;
    font-weight: 100;
    margin-top: 20px;
    padding: 1em;
    text-align: left;
    width: 30%;
  }

  .container {
    overflow: hidden;

    h3 {
      color: #FFF;
      font-weight: 300;
      margin-bottom: 0.5em;
      text-shadow: 1px 1px 2px #000;
    }

    li {
      font-size: 0.8em;
      line-height: 2.1;
      list-style: url('../images/arrow.jpg') disc inside;
    }

    a {
      color: #fff;
    }
  }
}

#footer-social-links {
  background: url('../images/footer.jpg');
  border-bottom: 1px solid #FFF;
  height: 70px;
  overflow: hidden;
  width: 100%;

  a{
    float: left;
    font-size: 25px;
    font-weight: normal;
    margin-left: 10px;
    margin-top: 12px;
  }

  .copyright {
    color: #FFF;
    float: right;
    font-size: 11px;
    margin: 32px 0 0;
    text-align: center;
    width: 200px;

    a {
      display: block;
      float: left;
      margin-top: -10px;
      text-indent: 0;
      width: 90px;
    }
  }
}
