.full-post-header {

  @extend .post-header;

  .post-title {
    font-size: 44px !important;
    margin-bottom: 20px;
    display: block;
    font-weight: bold;
    color: #000;
    text-decoration: none;
  }

}

#post-text {
  margin-bottom: 20px;
  border-bottom: 1px solid #f6f6f6; 
  font-size: 17px;
  line-height: 30px !important;
}

#post-content {
  background: #f6f6f6;
  z-index: 999;
  position: relative;

  .container {
    width: 900px;
    background: #fff;
    padding: 40px 30px 25px 30px;
  }

  li {
    margin-bottom: 8px;
  }

  p img {
    max-width: 60%;
    margin: 0 auto;
    display: block;
    height: auto;
    background: #F6F6F6;
    padding: 20px;
    border: 1px #CCC solid;
  }

  h3 {
    font-size: 23px;
    font-weight: bold;
    color: #444;
    margin-bottom: 15px;
  }

}
