#main-header {
  background: #fff;
  padding: 10px 0 10px 0;
  border-top: 5px solid #b72124;
  overflow: hidden;
}

.header-title {
  float: left;
  a img {
    width: 180px;
  }
}

#google-search {
  width: 300px;
  float: right;
  margin-top: 10px;
}
