#posts-list {
  background: #f6f6f6;
}

.post {
  border-bottom:1px solid #eee;
  position: relative;

  &:first-child {
    background: none !important;
    border-bottom: none;
    margin-top: -250px;
    z-index: 10;

    .container {
      background: #fff;
      -webkit-box-shadow: 0px 3px 2px rgba(50, 50, 50, 0.25);
      -moz-box-shadow: 0px 3px 2px rgba(50,50,50,0.25);
      box-shadow: 0px 3px 2px rgba(50, 50, 50, 0.25);
      padding: 40px 25px 25px 25px;
      width: 910px;
    }

    .post-title {
      font-size: 44px;
      @media only screen and (max-width: 686px) {
        font-size: 36px;
      }
      a {
        text-decoration: none;
      }
    }

  }

  .container {
    padding: 60px 0 40px 0;
  }

  .post-excerpt {
    font-size: 17px;
    line-height: 30px !important;

    p img {
      max-width: 30%;
      margin: 0 auto 15px auto;
      display: block;
      height: auto;
    }
  }

  .post-comments-count {
    padding-left: 5px;
    border-left: 1px $HEred solid;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;
    height: 36px;
    margin-right: 20px;
    a {
      text-decoration: none;
    }
  }

  .view-more a {
    background: #fff;
    border:1px solid #eee;
    border-radius:4px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding:0 10px 0 10px;

    &:hover {
      border-color: #ccc;
    }
  }

}

.post-header {
  .post-title {
    color: #B72124;
    display: block;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    a {
      text-decoration: none;
    }
  }
}

.author-info {
  font-size: 12px;
  margin-bottom: 10px;
  span {
    font-weight: bold;
  }
}
