#static-background {
  overflow: hidden;
  width: 100%;
  position: relative;
}

#static-background.static-background-small {
  /*
  height: 180px;
  */

  #static-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

#static-image {
  position: relative;
  background: url("../images/header-default-bg.jpg") center center no-repeat fixed;
  background-size: cover;
  webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  z-index: 3;
  height: 340px;
  width: 100%;
}

#static-image:after {
  content: " ";
  background: rgba(138, 100, 100, 0.3);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}
