#static-background {
  overflow: hidden;
  height: 330px;
  width: 100%;
  position: relative;
}

#static-background.static-background-small {
  height: auto;
  padding: 30px 0;

  #static-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

#static-image {
  position: relative;
  background-size: cover !important;
  background: url('../images/header-default-bg.jpg') no-repeat fixed;
  z-index: 3;
  height: 340px;
  width: 100%;
}

#static-image:after {
  content: " ";
  background: rgba(218, 43, 39, 0.3);
  height: 340px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}
