---
layout: default
---

<div id="static-background" class="static-background-small">
  <div id="static-image">
  </div>

  <header class="full-post-header">
    {% if page.author %}
      {% assign author = page.author %}
    {% else %}
      {% assign author = site.author %}
    {% endif %}

    {% if author %}
      <div class="author-info">
        Postado por <span>{{ author }}</span> em <span>{{ page.date | date: "%d/%m/%Y" }}</span>
      </div>
    {% endif %}

    <h2 class="post-title">
      {{ page.title | titlecase }}
    </h2>
  </header>
</div>

<!-- #posts -->
<section id="post-content">
  <div class="container">
    <div id="post-text">
      {{ content }}
    </div>

    <div id="post-sharing">
      <a href="http://twitter.com/share" class="twitter-share-button" data-url="http://helabs.com.br/blog{{ page.url }}" data-via="{{ site.twitter_user }}" data-counturl="http://helabs.com.br/blog{{ page.url }}" >Tweet</a>
      <div class="g-plusone"></div>
      <div class="fb-like" data-send="false" data-width="450" data-show-faces="false"></div>
    </div>


    {% if site.disqus_short_name and page.comments == true %}
      <div id="disqus_thread" aria-live="polite">
        <h6>Comentários</h6>
        {% include post/disqus_thread.html %}
      </div>
    {% endif %}
  </div>
</section>
