---
layout: default
---

<div id="static-background" class="static-background-small">
  <div id="static-image">
  </div>

  <header class="full-post-header">
    {% if page.author %}
      {% assign author = page.author %}
    {% else %}
      {% assign author = site.author %}
    {% endif %}

    {% if author %}
      <div class="author-info">
        Postado por <span class="author-name">{{ author }}</span>
      </div>
    {% endif %}

    <div class='post-date'>{{ page.date | date: "%d/%m/%Y" }}</div>

    <h2 class="post-title">
      {{ page.title | titlecase }}
    </h2>
  </header>
</div>

<!-- #posts -->
<section id="post-content">
  <div class="container">
    <div id="post-text">
      {{ content }}
    </div>

    {% if site.disqus_short_name and page.comments == true %}
      <div id="disqus_thread" aria-live="polite">
        <h6>Comentários</h6>
        {% include post/disqus_thread.html %}
      </div>
    {% endif %}
  </div>
</section>
